<h1>New Comply Advantage News</h1>

<%= render 'form', comply_advantage_news: @comply_advantage_news, url: company_comply_advantage_news_index_path(@company) %>

<%= link_to 'Back', company_comply_advantage_news_index_path(@company) %>
