<h1>Editing Comply Advantage Pep</h1>

<%= render 'form', comply_advantage_pep: @comply_advantage_pep, url: company_comply_advantage_pep_path(@company, @comply_advantage_pep) %>

<%= link_to 'Back', company_comply_advantage_peps_path(@company) %>
